In [3]:
import pandas as pd
import numpy as np
import dill

from sklearn.metrics import roc_auc_score

In [4]:
X_test = pd.read_csv("X_test.csv")
y_test = pd.read_csv("y_test.csv")

In [6]:
display(X_test.head(), y_test.head(),X_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4153 entries, 0 to 4152
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      4153 non-null   int64
 1   title   4153 non-null   object
 2   author  4153 non-null   object
 3   text    4153 non-null   object
dtypes: int64(1), object(3)
memory usage: 129.9+ KB

,id,title,author,text
0,14474,The Trump effect: Jack in the box and Obama's ...,miss,The Trump effect: Jack in the box and Obama's ...
1,9606,9 Breathtaking Photos Of Nature With A Generou...,miss,"Email The majesty of nature is awe-inspiring, ..."
2,14662,Comment on What Is Causing The Strange Trumpet...,MR.RANDY DOUGLAS MILLER,What Is Causing The Strange Trumpet Sounds In ...
3,6451,Bill Cunningham Looked for Subjects. And They ...,Sona Patel,Bill Cunningham worked as discreetly as he cou...
4,16590,Mexican National Found Guilty of Illegal Voting,Lana Shadwick,A Texas jury convicted a Mexican national for ...

   label
0      1
1      1
2      1
3      0
4      0

None

In [7]:
with open('pipeline_model.dill', 'rb') as model:
    pipeline = dill.load(model)

In [10]:
predict = pipeline.predict_proba(X_test)
pd.DataFrame({'preds': predict[:, 1]}).to_csv("test_preds.csv", index=None)

In [34]:
roc_auc_score(y_score=predict[:, 1][:], y_true=y_test.iloc[:])

0.9962549682896839